@model IEnumerable<Mottracker.Application.Dtos.Moto.MotoResponseDto>

@{
    ViewData["Title"] = "Motos";
}

<h1>Motos</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Criar Nova</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlacaMoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoMoto)
            </th>
            <th>
                Pátio Atual
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlacaMoto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoMoto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patio.NomePatio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdMoto" class="btn btn-warning btn-sm">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdMoto" class="btn btn-info btn-sm">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdMoto" class="btn btn-danger btn-sm">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
