@model IEnumerable<Mottracker.Application.Dtos.Permissao.PermissaoResponseDto>

@{
    ViewData["Title"] = "Permissões";
}

<h1>Permissões</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Criar Nova</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomePermissao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoPermissao)
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomePermissao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoPermissao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPermissao" class="btn btn-warning btn-sm">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdPermissao" class="btn btn-info btn-sm">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPermissao" class="btn btn-danger btn-sm">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
