@model IEnumerable<Mottracker.Application.Dtos.Patio.PatioResponseDto>

@{
    ViewData["Title"] = "Pátios";
}

<h1>Pátios</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomePatio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MotosTotaisPatio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MotosDisponiveisPatio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPatio)
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomePatio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MotosTotaisPatio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MotosDisponiveisPatio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataPatio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPatio" class="btn btn-warning btn-sm">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdPatio" class="btn btn-info btn-sm">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPatio" class="btn btn-danger btn-sm">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
