@model IEnumerable<Mottracker.Application.Dtos.UsuarioPermissao.UsuarioPermissaoResponseDto>

@{
    ViewData["Title"] = "Usuário Permissões";
}

<h1>Usuário Permissões</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Criar Nova</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Usuário
            </th>
            <th>
                Permissão
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.NomeUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Permissao.NomePermissao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-usuarioId="@item.IdUsuario" asp-route-permissaoId="@item.IdPermissao" class="btn btn-warning btn-sm">Editar</a> |
                <a asp-action="Details" asp-route-usuarioId="@item.IdUsuario" asp-route-permissaoId="@item.IdPermissao" class="btn btn-info btn-sm">Detalhes</a> |
                <a asp-action="Delete" asp-route-usuarioId="@item.IdUsuario" asp-route-permissaoId="@item.IdPermissao" class="btn btn-danger btn-sm">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
